@import "./common/_variables";
@import "./common/_reset";
@import "./common/_mixins";
@import "./common/_defines";
@import "~prism-themes/themes/prism-xonokai.css";

html,
body {
    width: 100%;
    font-family: $fontFamilyMincho;
    font-feature-settings: "palt";
    line-height: 1.6;
    letter-spacing: 0.02em;
}

.Background {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Main {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1040px;
    padding: 20px;
    margin: auto;
}

.Main__Header {
    font-size: 3.2rem;
    margin-bottom: 1em;
    letter-spacing: 0.02em;
}

.CreatedItems {
    width: 100%;
    margin-bottom: 20px;
}

.CreatedItems__header {
    font-size: 2.8rem;
    width: 100%;
}

li {
    line-height: 1.8;
}
