<%
const config = {
    title: 'top',
    description: 'This is top page',
    styles: ['https://fonts.googleapis.com/css?family=Roboto+Condensed:700', '/css/index.css'],
    scripts: [],
    metaImage: 'https://dummyimage.com/600x400/333/ddd.png&text=Dummy+image'
};
%>

<%- include('./common/_head.ejs', { ...config }) %>

<main id="main" class="Main" role="main">
    <h1 class="Header">SVG typography</h1>
    <ul class="Sample__list">
    <% [['SVGで溶け文字', 'sample1.html'], ['SVGでテクスチャ', 'sample2.html'], ['SVGとWeb Audio API', 'sample3.html']].forEach(([desc, href]) => { %>
        <li class="Sample__cell">
            <a href="<%= href %>" class="Sample__link"><%= desc %></a>
        </li>
    <% }) %>
    </ul>
</main>

<%- include('./common/_foot.ejs', { ...config }) %>
